/* Import Google Fonts for Onest */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';



@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --font-sans: "Onest", "Onest Placeholder", sans-serif;
  --font-serif: "Onest", "Onest Placeholder", sans-serif;
  --font-mono: ui-monospace, monospace;

  --radius: 0.5rem;
  --background: rgb(249 250 250);
  --foreground: rgb(23, 23, 23);
  --card: rgb(252, 252, 252);
  --card-foreground: rgb(23, 23, 23);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(23, 23, 23);
  --primary: rgb(23, 23, 23);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(240, 240, 242);
  --secondary-foreground: rgb(23, 23, 23);
  --muted: rgb(245, 245, 245);
  --muted-foreground: rgb(115, 115, 115);
  --table-header-foreground: rgb(84, 111, 125);
  --accent: rgb(245, 245, 245);
  --accent-foreground: rgb(23, 23, 23);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(255, 255, 255);
  --interactive: rgb(242 243 243);
  --border: rgb(229, 229, 229);
  --input: rgb(229, 229, 229);
  --ring: rgb(23, 23, 23);
  --chart-1: rgb(99, 102, 241);
  --chart-2: rgb(168, 85, 247);
  --chart-3: rgb(236, 72, 153);
  --chart-4: rgb(251, 146, 60);
  --chart-5: rgb(34, 197, 94);
  --sidebar: rgb(255, 255, 255);
  --sidebar-foreground: rgb(23, 23, 23);
  --sidebar-primary: rgb(23, 23, 23);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(250, 250, 250);
  --sidebar-accent-foreground: rgb(23, 23, 23);
  --sidebar-border: rgb(229, 229, 229);
  --sidebar-ring: rgb(23, 23, 23);
  --tech-badge: rgb(212, 255, 0);
  --tech-badge-foreground: rgb(0, 0, 0);
}

.dark {
  --background: rgb(10, 10, 10);
  --foreground: rgb(250, 250, 250);
  --card: rgb(23, 23, 23);
  --card-foreground: rgb(250, 250, 250);
  --popover: rgb(23, 23, 23);
  --popover-foreground: rgb(250, 250, 250);
  --primary: rgb(250, 250, 250);
  --primary-foreground: rgb(23, 23, 23);
  --secondary: rgb(38, 38, 38);
  --secondary-foreground: rgb(250, 250, 250);
  --muted: rgb(38, 38, 38);
  --muted-foreground: rgb(163, 163, 163);
  --table-header-foreground: rgb(115, 142, 156);
  --accent: rgb(38, 38, 38);
  --accent-foreground: rgb(250, 250, 250);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(255, 255, 255);
  --interactive: rgb(38, 38, 38);
  --border: rgb(38, 38, 38);
  --input: rgb(38, 38, 38);
  --ring: rgb(250, 250, 250);
  --chart-1: rgb(99, 102, 241);
  --chart-2: rgb(168, 85, 247);
  --chart-3: rgb(236, 72, 153);
  --chart-4: rgb(251, 146, 60);
  --chart-5: rgb(34, 197, 94);
  --sidebar: rgb(23, 23, 23);
  --sidebar-foreground: rgb(250, 250, 250);
  --sidebar-primary: rgb(250, 250, 250);
  --sidebar-primary-foreground: rgb(23, 23, 23);
  --sidebar-accent: rgb(38, 38, 38);
  --sidebar-accent-foreground: rgb(250, 250, 250);
  --sidebar-border: rgb(38, 38, 38);
  --sidebar-ring: rgb(250, 250, 250);
  --tech-badge: rgb(212, 255, 0);
  --tech-badge-foreground: rgb(0, 0, 0);
}

@theme inline {
  --font-sans: "Onest", "Onest Placeholder", sans-serif;
  --font-serif: "Onest", "Onest Placeholder", sans-serif;
  --font-mono: ui-monospace, monospace;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-table-header-foreground: var(--table-header-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-interactive: var(--interactive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-tech-badge: var(--tech-badge);
  --color-tech-badge-foreground: var(--tech-badge-foreground);
}


:root {
  --color-error: var(--color-red-500);
}

.dark {
  --color-error: var(--color-red-500);
}

@theme inline {
  --color-error: var(--color-red-500);
}
