/* Import Google Fonts for Figtree, Merriweather, and IBM Plex Mono */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&family=IBM+Plex+Mono:wght@400;500;700&family=Merriweather:wght@400;700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';



@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --font-sans: Figtree, ui-sans-serif, sans-serif;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: IBM Plex Mono, ui-monospace, monospace;

  --radius: 0.275rem;
  --background: rgb(244, 244, 245);
  --foreground: rgb(9, 9, 11);
  --card: rgb(241, 241, 241);
  --card-foreground: rgb(9, 9, 11);
  --popover: rgb(241, 241, 241);
  --popover-foreground: rgb(9, 9, 11);
  --primary: rgb(106, 114, 130);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(233, 230, 220);
  --secondary-foreground: rgb(83, 81, 70);
  --muted: rgb(228, 228, 231);
  --muted-foreground: rgb(82, 82, 92);
  --accent: rgb(228, 228, 231);
  --accent-foreground: rgb(9, 9, 11);
  --destructive: rgb(20, 20, 19);
  --border: rgb(212, 212, 216);
  --input: rgb(212, 212, 216);
  --ring: rgb(106, 114, 130);
  --chart-1: rgb(176, 87, 48);
  --chart-2: rgb(156, 135, 245);
  --chart-3: rgb(222, 216, 196);
  --chart-4: rgb(219, 211, 240);
  --chart-5: rgb(180, 85, 45);
  --sidebar: rgb(237, 237, 238);
  --sidebar-foreground: rgb(9, 9, 11);
  --sidebar-primary: rgb(106, 114, 130);
  --sidebar-primary-foreground: rgb(255, 255, 255);
  --sidebar-accent: rgb(228, 228, 231);
  --sidebar-accent-foreground: rgb(9, 9, 11);
  --sidebar-border: rgb(212, 212, 216);
  --sidebar-ring: rgb(106, 114, 130);
}

.dark {
  --background: rgb(24, 24, 27);
  --foreground: rgb(250, 250, 250);
  --card: rgb(39, 39, 42);
  --card-foreground: rgb(250, 250, 250);
  --popover: rgb(39, 39, 42);
  --popover-foreground: rgb(250, 250, 250);
  --primary: rgb(217, 119, 87);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(250, 249, 245);
  --secondary-foreground: rgb(48, 48, 46);
  --muted: rgb(63, 63, 70);
  --muted-foreground: rgb(159, 159, 169);
  --accent: rgb(63, 63, 70);
  --accent-foreground: rgb(250, 250, 250);
  --destructive: rgb(209, 61, 61);
  --border: rgba(250, 250, 250, 0.1);
  --input: rgba(250, 250, 250, 0.15);
  --ring: rgb(255, 155, 121);
  --chart-1: rgb(176, 87, 48);
  --chart-2: rgb(156, 135, 245);
  --chart-3: rgb(26, 25, 21);
  --chart-4: rgb(47, 43, 72);
  --chart-5: rgb(180, 85, 45);
  --sidebar: rgb(39, 39, 42);
  --sidebar-foreground: rgb(250, 250, 250);
  --sidebar-primary: rgb(217, 119, 87);
  --sidebar-primary-foreground: rgb(251, 251, 251);
  --sidebar-accent: rgb(63, 63, 70);
  --sidebar-accent-foreground: rgb(250, 250, 250);
  --sidebar-border: rgba(250, 250, 250, 0.1);
  --sidebar-ring: rgb(255, 155, 121);
}

@theme inline {
  --font-sans: Figtree, ui-sans-serif, sans-serif;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: IBM Plex Mono, ui-monospace, monospace;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
